<mat-card-title>{{ "ContactFormComponent.ME_CONTACTER" | translate}}</mat-card-title>
<div class="mt-100"  fxLayout="row wrap" fxLayout.lt-sm="column"  fxLayoutGap="32px" fxLayoutAlign="flex-start">
  <ng-container>
    <mat-card fxFlex="0 1 calc(33.3% - 32px)" class="primary-theme my-2">
        <mat-card-content>
          <ul>
            <li fxLayout="row" fxLayoutAlign="space-between center">
              <span>
                <i class="accent-color fab fa-twitter"></i>
                Twitter:</span>
              <span class="text-secondary">@ErocliteYvan</span>
            </li>
            <li fxLayout="row" fxLayoutAlign="space-between center">
              <span>
                <i class="accent-color fab fa-facebook"></i>
                Facebook:</span>
              <span class="text-secondary">Yvan Jules Kana</span>
            </li>
            <li fxLayout="row" fxLayoutAlign="space-between center">
              <span>
                <i class="accent-color fab fa-instagram"></i>
                Instagram:</span>
              <span class="text-secondary">@yvanerocliteOfficiel</span>
            </li>
          </ul>
        </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-container>
    <mat-card fxFlex="0 1 calc(33.3% - 32px)" class="primary-theme my-2">
        <mat-card-content>
          <i class="accent-color left-icon fas fa-phone"></i>
          <ul>
            <li fxLayout="row" fxLayoutAlign="space-around center">
              <span class="text-secondary">237 671 30 90 50</span>
            </li>
            <li fxLayout="row" fxLayoutAlign="space-around center">
              <span class="text-secondary">237 656 43 73 95</span>
            </li>
            <li fxLayout="row" fxLayoutAlign="space-around center">
              <span class="text-secondary">237 692 75 89 56</span>
            </li>
          </ul>
        </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-container>
    <mat-card fxFlex="0 1 calc(33.3% - 32px)" class="primary-theme my-2">
        <mat-card-content>
          <i class="accent-color left-icon far fa-paper-plane"></i>
          <ul>
            <li fxLayout="row" fxLayoutAlign="space-around center">
              <span class="text-secondary">yvankanaj@gmail.com</span>
            </li>
            <li fxLayout="row" fxLayoutAlign="space-around center">
              <span class="text-secondary">erocliteyvan@gmail.com</span>
            </li>
          </ul>
        </mat-card-content>
    </mat-card>
  </ng-container>
</div>
<div class="mt-100">
  <app-contact-form title="ContactPage.SEN_MESSAGE"></app-contact-form>
</div>
<app-footer></app-footer>
