.avatar-icon, .techs-name, .fixed-rigth, .fixed-top{
  position: absolute;
}
.avatar-icon{
  width: 20px;
  height: 20px;
  left: 10px;
  top: 5px;
  display: block;
}
.techs-name{
  left: 40px;
  top: 5px;
}

.fixed-rigth{
  right: 20px;
  top: 13px;
}

mat-progress-bar{
  left: 25px;
  width: 130px;
}
.text-16{
  font-size: 13px;
}
