<div class="primary-theme contact-block">
  <form class="text-center">
    <div class="contact-form-field">
      <mat-icon>person_outline</mat-icon>
      <input class="form-control mt-2 app-input" type="text" placeholder="Your name...">
    </div>
    <div class="contact-form-field">
      <mat-icon>alternate_email</mat-icon>
    <input class="form-control mt-2 app-input" type="email" placeholder="Your email adress...">
    </div>
    <div class="contact-form-field">
      <mat-icon>article</mat-icon>
    <textarea class="form-control mt-2" name="" id="" cols="30" rows="10" placeholder="Message..."></textarea>
    </div>
    <button class="app-input mt-2" type="submit">Send message</button>
  </form>
</div>
