<div class="primary-theme contact-block">
  <mat-card-title class="medium-title">{{ title }}</mat-card-title>
  <form class="text-center" (ngSubmit)="send()">
    <div class="contact-form-field">
      <mat-icon color="accent">person_outline</mat-icon>
      <input [(ngModel)]="message.name" class="form-control mt-2 app-input" name="name" type="text" placeholder="Your name..." required>
    </div>
    <div class="contact-form-field">
      <mat-icon color="accent">alternate_email</mat-icon>
    <input [(ngModel)]="message.email" class="form-control mt-2 app-input" name="email" type="email" placeholder="Your email adress..." required>
    </div>
    <div class="contact-form-field">
      <mat-icon color="accent">article</mat-icon>
    <textarea [(ngModel)]="message.message" class="form-control mt-2" name="message" id="" cols="30" rows="10" placeholder="Message..." required></textarea>
    </div>
    <button [disabled]="message.message==''||message.email==''||message.name==''" class="app-input mt-2" type="submit">Send message</button>
  </form>
</div>
