<a class="nav-link text-left text-white d-block"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}"
  routerLink="/"
  (click)="reload()"
><mat-icon>home</mat-icon></a>
<a class="nav-link text-left text-white d-block"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}"
  routerLink="/blog"
>Blog</a>
<a class="nav-link text-left text-white d-block"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}"
  routerLink="/contacts"
>Contact me</a>
<a class="nav-link text-left text-white d-block"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}"
  routerLink="/about"
>About</a>

<div class="fixed-bottom ">
  <a class="nav-link d-block active">FR</a>
  <a class="nav-link d-block ">EN</a>
</div>
