<a class="nav-link text-left text-white d-block"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}"
  routerLink="/"
  (click)="reload()"
><mat-icon>home</mat-icon></a>
<a class="nav-link text-left text-white d-block"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: false}"
  routerLink="/blog"
>Blog</a>
<a class="nav-link text-left text-white d-block"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}"
  routerLink="/contacts"
>Contact me</a>
<a class="nav-link text-left text-white d-block"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact: true}"
  routerLink="/about"
>About</a>

<div class="fixed-bottom ">
  <a class="nav-link d-block " (click)="changeLocale('fr')" [class]="lang=='fr'?'active':''">FR</a>
  <a class="nav-link d-block " (click)="changeLocale('en')" [class]="lang=='en'?'active':''">EN</a>
</div>
