<h1>Recommandations</h1>
<div class="x-scroll" fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="flex-start">
     <ng-container>
      <mat-card fxFlex="0 1 calc(33.3% - 32px)" class="primary-theme my-2">
          <img width="50px" class="article-icon" height="50px" src="https://cdn.pixabay.com/photo/2018/04/18/18/56/user-3331256__340.png" alt="img techs" srcset="">
          <mat-card-header>
              <mat-card-title>Temsuate Jean</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="text-secondary">Eroken est le meilleur programmeur que j'ai connu</p>
          </mat-card-content>
          <mat-card-footer>
            <button mat-raised-button>Yoooooo</button>
          </mat-card-footer>
      </mat-card>
  </ng-container>
  <ng-container>
      <mat-card fxFlex="0 1 calc(33.3% - 32px)" class="primary-theme my-2">
          <img width="50px" class="article-icon" height="50px" src="https://cdn.pixabay.com/photo/2018/04/18/18/56/user-3331256__340.png" alt="img techs" srcset="">
          <mat-card-header>
              <mat-card-title>Temsuate Jean</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="text-secondary">Eroken est le meilleur programmeur que j'ai connu</p>
          </mat-card-content>
          <mat-card-footer>

          </mat-card-footer>
      </mat-card>
  </ng-container>
  <ng-container>
      <mat-card fxFlex="0 1 calc(33.3% - 32px)" class="primary-theme my-2">
          <img width="50px" class="article-icon" height="50px" src="https://cdn.pixabay.com/photo/2018/04/18/18/56/user-3331256__340.png" alt="img techs" srcset="">
          <mat-card-header>
              <mat-card-title>Temsuate Jean</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="text-secondary">Eroken est le meilleur programmeur que j'ai connu</p>
          </mat-card-content>
          <mat-card-footer>

          </mat-card-footer>
      </mat-card>
  </ng-container>
  <ng-container>
      <mat-card fxFlex="0 1 calc(33.3% - 32px)" class="primary-theme my-2">
          <img width="50px" class="article-icon" height="50px" src="https://cdn.pixabay.com/photo/2018/04/18/18/56/user-3331256__340.png" alt="img techs" srcset="">
          <mat-card-header>
              <mat-card-title>Temsuate Jean</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="text-secondary">Eroken est le meilleur programmeur que j'ai connu</p>
          </mat-card-content>
          <mat-card-footer>

          </mat-card-footer>
      </mat-card>
  </ng-container>
</div>
