.slide-item-article{
  min-height: 200px;
  margin-left: 10px;
}
.article-icon{
  display: block;
  width: 50px;
}
mat-card-title{
  font-size: 18px;
}
.proffession-label{
  display: inline-block;
  color: silver;
  padding-bottom: 5px;
  background: linear-gradient(159deg, #252532 0%, #23232d 100%);
  min-width: 70px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 2px;
  font-size: 10px;
  text-align: center;
}
.text-rigth{
  text-align: right;
}
