.avatar {
    margin-top: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

$bg-color: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
$profile-height: 326px;
.fixed-top{
  top: 0;
  left: 0;
  width: 100%;
  height: $profile-height;
  min-height: $profile-height;
  background: $bg-color;
  scrollbar-width: none;
}
.img-circle{
    border-radius: 50%;
}
mat-list-item {
    color: white;
}
.scroll-content{
    cursor: grabbing;
    overflow-y: auto;
    position: fixed;
    top: $profile-height;
    bottom: 50px;
    left: 0;
    border-radius: 5px;
    max-width: 243px;
    width: 100%;
    padding: 3px;
    scrollbar-width: none;
}
.bold{
  font-weight: 700;
}

.scroll-content::-webkit-scrollbar{ display: none;}
p{
    font-size: 13px;
}
mat-divider{
    width: 95%;
    background-color: #5f5f79;
    margin-left: auto;
    margin-right: auto;
}
.socials-list{
    height: 50px;
    left: 0px;
    width: 100%;
    padding: 2px;
    font-size: 20px;
    margin: 0;
    position: absolute;
    bottom: 0;
    background: $bg-color;
}
a:hover{
  transition: .5s;
  color: white;
}
.btn-close{
  max-width: 20px;
  max-height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
