<img class="avatar" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba">
<p>
    <strong>Yvan KANA </strong><br>
    Developpeur Full-Stack
</p>
<mat-divider></mat-divider>
<ng-container>
    <table>
        <tr>
            <td>Age:</td>
            <td>{{ age }} ans</td>
        </tr>
        <tr>
            <td>Pays:</td>
            <td>Cameroun</td>
        </tr>
        <tr>
            <td>Ville:</td>
            <td>Dschang</td>
        </tr>
    </table>
    <br>
    <mat-divider></mat-divider>
    <h3>Mes technologies</h3>
    <div class="scroll-content">
        <div>
            <h3>Frontend</h3>
            <mat-list>
                <mat-list-item *ngFor="let f of frontends">
                    <img class="avatar-icon" [src]="f.imgUrl" alt="">
                    <span class="color-white text-12"> {{ f.name }}</span>
                </mat-list-item>
            </mat-list>
            <h3>Backend</h3>
            <mat-list>
                <mat-list-item *ngFor="let f of backends">
                    <img class="avatar-icon" [src]="f.imgUrl" alt="">
                    <span class="color-white text-12"> {{ f.name }}</span>
                </mat-list-item>
            </mat-list>
            <h3>Mobile</h3>
            <mat-list>
                <mat-list-item *ngFor="let f of fmobiles">
                    <img class="avatar-icon" [src]="f.imgUrl" alt="">
                    <span class="color-white text-12">{{ f.name }}</span>
                </mat-list-item>
            </mat-list>
        </div>
    </div>

    <p div fxLayout="row" fxLayoutAlign="space-around center" class="socials-list">
        <a class="text-white" *ngFor="let s of socials" [href]="s.url"><i [class]="s.classIcon"></i></a>
    </p>
</ng-container>
