  <ng-container>
    <mat-icon *ngIf="app.mobileDevice" class="btn-close" (click)="close()" color="warn">close</mat-icon>
    <div class="fixed-top">
      <img class="avatar" src="https://gitlab.com/uploads/-/system/user/avatar/6049371/avatar.png?width=400" alt="Photo of a Shiba">
      <p>
          <strong>Yvan KANA </strong><br>
          Developpeur Full-Stack
      </p>
      <mat-divider></mat-divider>
        <ul class="mr-2">
            <li class="d-flex f-just-bet">
                <h5 class="bold">Age:</h5>
                <span class="text-12 text-secondary">{{ age }} ans</span>
            </li>
            <li class="d-flex f-just-bet">
                <h5 class="bold">Pays:</h5>
                <span class="text-12 text-secondary">Cameroun</span>
            </li>
            <li class="d-flex f-just-bet">
                <h5 class="bold">Ville:</h5>
                <span class="text-12 text-secondary">Dschang</span>
            </li>
        </ul>
      <mat-divider></mat-divider>
      <br>
      <h2>Mes technologies</h2>
    </div>
    <div class="techs-content">
      <div class="scroll-content">
          <div>
            <app-techs-list title="Frontend" [techs]="filterTechs('f')"></app-techs-list>
            <app-techs-list title="Backend" [techs]="filterTechs('b')"></app-techs-list>
            <app-techs-list title="Mobile" [techs]="filterTechs('m')"></app-techs-list>
          </div>
      </div>
    </div>

    <p div fxLayout="row" fxLayoutAlign="space-around center" class="socials-list">
        <a [title]="s.title" class="text-secondary hover-primary" *ngFor="let s of socials" [href]="s.url"><i [class]="s.classIcon"></i></a>
    </p>
</ng-container>
