<img class="avatar" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba">
<p>
    <strong>Yvan KANA </strong><br>
    Developpeur Full-Stack
</p>
<mat-divider></mat-divider>
<ng-container>

    <table>
        <tr>
            <td>Age:</td>
            <td>{{ age }} ans</td>
        </tr>
        <tr>
            <td>Pays:</td>
            <td>Cameroun</td>
        </tr>
        <tr>
            <td>Ville:</td>
            <td>Dschang</td>
        </tr>
    </table>
    <br>
    <mat-divider></mat-divider>
    <h3>Mes principales technologies</h3>
    <div class="scroll-content">
        <div>
            <h3>Frontend</h3>
            <mat-list>
                <mat-list-item>Vue</mat-list-item>
                <mat-list-item>React JS</mat-list-item>
                <mat-list-item>Qwik</mat-list-item>
                <mat-list-item>Angular</mat-list-item>
            </mat-list>
            <h3>Backend</h3>
            <mat-list>
                <mat-list-item>Django</mat-list-item>
                <mat-list-item>Spring</mat-list-item>
                <mat-list-item>Symfony</mat-list-item>
                <mat-list-item>Express</mat-list-item>
                <mat-list-item>Laravel</mat-list-item>
            </mat-list>
            <h3>Mobile</h3>
            <mat-list>
                <mat-list-item>React native</mat-list-item>
                <mat-list-item>Kotlin</mat-list-item>
                <mat-list-item>Ionic</mat-list-item>
                <mat-list-item>Flutter</mat-list-item>
            </mat-list>
        </div>
    </div>
</ng-container>