<div class="timeline-block mt-30 mb-30" fxLayout="row wrap" fxLayout.lt-sm="column"  fxLayoutGap="50px" fxLayoutAlign="flex-start">
  <div fxFlex="0 1 calc(50% - 50px)" class="timeline-container ">
    <mat-card-title>Education</mat-card-title>
    <mat-card class="timeline-event primary-theme">
      <span class="event-date">Sept 2011</span>
      <mat-card-title class="medium-title">Lycée de Bafou-Sud</mat-card-title>
      <mat-card-content class="text-secondary">
        Je me suis inscrit au lycée de Bafou-Sud en 2011 dans mon village natal, et c'est la que j'ai finis tout mon parcours secondaire
      </mat-card-content>
    </mat-card>
    <mat-card class="timeline-event primary-theme">
      <span class="event-date">Juin 2018</span>
      <mat-card-title class="medium-title">Baccalaureat C</mat-card-title>
      <mat-card-content class="text-secondary">
        J'obtient mon Baccalauréat en 2018 apres 7 annees d'études passes a Bafou-Sud avec une mension passable mais sufisant pour que je m'inscrité a l'UDs
      </mat-card-content>
    </mat-card>
    <mat-card class="timeline-event primary-theme">
      <span class="event-date">Oct 2018</span>
      <mat-card-title class="medium-title">Informatique tronc commun</mat-card-title>
      <mat-card-content class="text-secondary">
        En Octobre 2018, je m'inscrit a l'université de Dschang en Informatique tronc commun, et c'est la que j'ai vraiment eu l'occasion de tapper mes premiers ligne de code avec les languages <strong>C/C++</strong>, <strong>Pascal</strong> et <strong>Haskell</strong>
      </mat-card-content>
    </mat-card>
    <mat-card class="timeline-event primary-theme">
      <span class="event-date">Aou 2021</span>
      <mat-card-title class="medium-title">Licence en Informatique Tronc commun</mat-card-title>
      <mat-card-content class="text-secondary">
        Apres 3 ans d'études a l'université de Dschang, j'obitient La licence en Aout 2021, ce qui me permettra de m'inscrire en master <strong>I.A</strong>
      </mat-card-content>
    </mat-card>
    <mat-card class="timeline-event primary-theme">
      <span class="event-date">Sep 2021</span>
      <mat-card-title class="medium-title">Intéligence Artificiel</mat-card-title>
      <mat-card-content class="text-secondary">
        Je m'inscrit e master Intéligence Artificiel en septembre 2021
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="0 1 calc(50% - 50px)" class="timeline-container">
    <mat-card-title>Expérience</mat-card-title>
    <mat-card class="timeline-event primary-theme">
      <span class="event-date">2019-2020</span>
      <mat-card-title class="medium-title">Sokoban, Crypto-Systemes</mat-card-title>
      <mat-card-content class="text-secondary">
        Je reproduis le Jeu de Sokoban en janvier 2019 avec la librairie SDL du language C. Je reproduit également 2 Crypto-Systemes(suporntant les Chiffrements, déchiffrements et cryptanalyses): celui de César et Crypto-Systeme avec matrices avec le language <strong>Java</strong>
      </mat-card-content>
    </mat-card>
    <mat-card class="timeline-event primary-theme">
      <span class="event-date">Avr 2020</span>
      <mat-card-title class="medium-title">Applications webs</mat-card-title>
      <mat-card-content class="text-secondary">
        Je commence le dévellopement web en Avril 2020 pandant le confinement en mettant en place une plateforme pour gérer la publication des notes dans un lycée
      </mat-card-content>
    </mat-card>
    <mat-card class="timeline-event primary-theme">
      <span class="event-date">Sep 2020</span>
      <mat-card-title class="medium-title">Technologies modernes</mat-card-title>
      <mat-card-content class="text-secondary">
        Je découvre les frameworks <strong>Symfony</strong> et <strong>React</strong> et je m'en sert pour mettre en place un systeme de suivi en ligne des patients, juste apres je découvre aussi <strong>Vue JS, Spring, Laravel, Angular, Django</strong> ainsi que plusieures outils de dévellopement fronted
      </mat-card-content>
    </mat-card>
    <mat-card class="timeline-event primary-theme">
      <span class="event-date">Jan 2021</span>
      <mat-card-title class="medium-title">TDD et architechture Exagonal</mat-card-title>
      <mat-card-content class="text-secondary">
        Je commence a approffondir les méilleures pratiques de dévellopement en pratiquant le TDD(Test Driven Development) en PHP en Janvier 2021 et je découvre aussi l'architechture Exagonal qui était déja jugé plus intéressant que le MVC
      </mat-card-content>
    </mat-card>
  </div>
</div>
{{ "test" | translate }}
<app-footer></app-footer>
