<div class="timeline-block mt-30 mb-30" fxLayout="row wrap" fxLayout.lt-sm="column"  fxLayoutGap="50px" fxLayoutAlign="flex-start">
  <div fxFlex="0 1 calc(50% - 50px)" class="timeline-container ">
    <mat-card-title>{{"AboutPage.EDUCATION" | translate}}</mat-card-title>
    <mat-card class="timeline-event primary-theme">
      <span class="event-date">Sept 2011</span>
      <mat-card-title class="medium-title">{{"AboutPage.LBS" | translate}}</mat-card-title>
      <mat-card-content class="text-secondary">
        {{"AboutPage.LBS_INSCRIPTION" | translate}}
      </mat-card-content>
    </mat-card>
    <mat-card class="timeline-event primary-theme">
      <span class="event-date">Juin 2018</span>
      <mat-card-title class="medium-title">{{"AboutPage.BACC" | translate}}</mat-card-title>
      <mat-card-content class="text-secondary">
        {{"AboutPage.BAC_OPTENTION" | translate}}
      </mat-card-content>
    </mat-card>
    <mat-card class="timeline-event primary-theme">
      <span class="event-date">Oct 2018</span>
      <mat-card-title class="medium-title">{{"AboutPage.INF_TRONC_COMMUN" | translate}}</mat-card-title>
      <mat-card-content class="text-secondary">
        {{"AboutPage.INF_TRONC_COMMUN_INSCRIPTION" | translate}}
      </mat-card-content>
    </mat-card>
    <mat-card class="timeline-event primary-theme">
      <span class="event-date">Aou 2021</span>
      <mat-card-title class="medium-title">{{"AboutPage.LICENCE" | translate}}</mat-card-title>
      <mat-card-content class="text-secondary">
        {{"AboutPage.LICENCE_OPT" | translate}}
      </mat-card-content>
    </mat-card>
    <mat-card class="timeline-event primary-theme">
      <span class="event-date">Sep 2021</span>
      <mat-card-title class="medium-title">{{"AboutPage.IA" | translate}}</mat-card-title>
      <mat-card-content class="text-secondary">
        {{"AboutPage.IA_INS" | translate}}

      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="0 1 calc(50% - 50px)" class="timeline-container">
    <mat-card-title>{{"AboutPage.EXPERIENCE" | translate}}</mat-card-title>
    <mat-card class="timeline-event primary-theme">
      <span class="event-date">2019-2020</span>
      <mat-card-title class="medium-title">Sokoban, Crypto-Systemes</mat-card-title>
      <mat-card-content class="text-secondary">{{"AboutPage.FIRSTS_APPS" | translate}}
      </mat-card-content>
    </mat-card>
    <mat-card class="timeline-event primary-theme">
      <span class="event-date">Avr 2020</span>
      <mat-card-title class="medium-title">{{"AboutPage.APPS_WEB" | translate}}</mat-card-title>
      <mat-card-content class="text-secondary">{{"AboutPage.APPS_WEB_DETAILS" | translate}}
      </mat-card-content>
    </mat-card>
    <mat-card class="timeline-event primary-theme">
      <span class="event-date">Sep 2020</span>
      <mat-card-title class="medium-title">{{"AboutPage.TECHS" | translate}}</mat-card-title>
      <mat-card-content class="text-secondary">
        {{"AboutPage.TECHS_LISTS" | translate}}
      </mat-card-content>
    </mat-card>
    <mat-card class="timeline-event primary-theme">
      <span class="event-date">Jan 2021</span>
      <mat-card-title class="medium-title">{{"AboutPage.TDD_EXAGONAL" | translate}}</mat-card-title>
      <mat-card-content class="text-secondary">
        {{"AboutPage.DETAILS_TDD_EXAGONAL" | translate}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
{{ "test.msg" | translate }}
<app-footer></app-footer>
