.center-content{
  height: 30px;
  width: 600px;
  margin-left: 37%;
  margin-top: 26%;
}
@media only screen and (max-width: 373px){
  .center-content{
    margin-left: 20%;
  }
}

p{
  font-size: 20px;
}
h1{
  font-size: 30px
}
