mat-sidenav-container {
  height: 100%;
}

mat-sidenav,
mat-sidenav-content {
  padding: 16px;
}
mat-sidenav-content {
  background-image: url("./../assets/img/bg.jpg");
}

mat-sidenav {
  // background-color: #15151b;
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  max-width: 250px;
  width: 250px;
  overflow: hidden;
  height: 100%;
  padding: 0;
  text-align: center;
}
::-webkit-scrollbar {
  display: none;
}

* {
  color: white;
}
