<div *ngIf="loaderService.isLoading | async" class="loader-container">
  <mat-spinner style="top: 40%; left: 50%;"></mat-spinner>
</div>
<mat-toolbar *ngIf="!showSidebar" class="primary-theme">
  <button mat-button (click)="showSidebar = !showSidebar">
    <mat-icon>
      {{ showSidebar ? 'sentiment_satisfied' : 'sentiment_satisfied' }}
    </mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-button (click)="showNavbar = !showNavbar">
    <mat-icon>
      {{ showNavbar ? 'double_arrow' : 'menu' }}
    </mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav  mode="side" [(opened)]="showSidebar">
    <app-profil></app-profil>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  <mat-sidenav position="end" mode="push" class="side-nav-menu" mode="side" [(opened)]="showNavbar">
    <app-nav-list></app-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
