<div class="mt-30 mb-30">
  <div>
    <div>
      <div class="spacer"></div>
      <div fxLayout="row wrap"  class="ml-auto w-60">
        <button mat-button (click)="selectedCategorie = ''" [class]="selectedCategorie==''?'text-white':'text-secondary'">{{ "BlogPage.TOUTES" | translate }}</button>
        <button mat-button (click)="selectedCategorie = 'Hight techs'" [class]="selectedCategorie=='Hight techs'?'text-white':'text-secondary'">{{ "BlogPage.HT" | translate}}</button>
        <button mat-button (click)="selectedCategorie = 'Code astuces'" [class]="selectedCategorie=='Code astuces'?'text-white':'text-secondary'">{{ "BlogPage.ASTUCES_CODE" | translate}}</button>
        <button mat-button (click)="selectedCategorie = 'Dev environment'" [class]="selectedCategorie=='Dev environment'?'text-white':'text-secondary'">{{ "BlogPage.ENVIRONEMENT_DEV" | translate}}</button>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <ng-container>
      <mat-card *ngFor="let a of filterArticles()" fxFlex="0 1 calc(33.3% - 32px)" class="primary-theme my-2">
        <a class="text-white decoration-none" [routerLink]="'/blog/articles/'+a.slug" >
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ a.title }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image class="img-article" [src]="a.image" alt="Photo of a Shiba Inu">
          <mat-card-content [innerHTML]="substringArticleText(a.text)"></mat-card-content>
        </a>
      </mat-card>
    </ng-container>
  </div>

</div>
<app-footer></app-footer>
