<div class="mt-30 mb-30">
  <div>
    <div>
      <div class="spacer"></div>
      <div fxLayout="row wrap"  class="ml-auto w-60">
        <button mat-button class="text-white">Toutes</button>
        <button mat-button class="text-white">Higth techs</button>
        <button mat-button class="text-secondary">Code astuces</button>
        <button mat-button class="text-secondary">Dev environment</button>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <ng-container>
      <mat-card fxFlex="0 1 calc(33.3% - 32px)" class="primary-theme my-2">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><mat-icon color="accent">favorite_border</mat-icon></button>
          <button mat-button><mat-icon color="accent">chat_bubble_outline</mat-icon></button>
          <button mat-button><mat-icon color="accent">share</mat-icon></button>
        </mat-card-actions>
      </mat-card>
      <mat-card fxFlex="0 1 calc(33.3% - 32px)" class="primary-theme my-2">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><mat-icon color="accent">favorite_border</mat-icon></button>
          <button mat-button><mat-icon color="accent">chat_bubble_outline</mat-icon></button>
          <button mat-button><mat-icon color="accent">share</mat-icon></button>
        </mat-card-actions>
      </mat-card>
      <mat-card fxFlex="0 1 calc(33.3% - 32px)" class="primary-theme my-2">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><mat-icon color="accent">favorite_border</mat-icon></button>
          <button mat-button><mat-icon color="accent">chat_bubble_outline</mat-icon></button>
          <button mat-button><mat-icon color="accent">share</mat-icon></button>
        </mat-card-actions>
      </mat-card>
      <mat-card fxFlex="0 1 calc(33.3% - 32px)" class="primary-theme my-2">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><mat-icon color="accent">favorite_border</mat-icon></button>
          <button mat-button><mat-icon color="accent">chat_bubble_outline</mat-icon></button>
          <button mat-button><mat-icon color="accent">share</mat-icon></button>
        </mat-card-actions>
      </mat-card>
      <mat-card fxFlex="0 1 calc(33.3% - 32px)" class="primary-theme my-2">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><mat-icon color="accent">favorite_border</mat-icon></button>
          <button mat-button><mat-icon color="accent">chat_bubble_outline</mat-icon></button>
          <button mat-button><mat-icon color="accent">share</mat-icon></button>
        </mat-card-actions>
      </mat-card>

    </ng-container>
  </div>

</div>
