.article-block{
  margin: auto;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  .article-header{
    .article-image{
      max-width: 270px;
    }
  }
  .post-content{
    h2,h3,h4,h5{
      text-align: center;
    }
  }
}
