<app-carousel></app-carousel>
<h1>Mes realisations</h1>
<div class="x-scroll" fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <ng-container>
        <mat-card fxFlex="" class="primary-theme p-2 my-2">
            <mat-card-header>
                <mat-card-title>Developpement MObile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>J e develope des applications mobiles, ultra-rapides.</p>
            </mat-card-content>
            <mat-card-footer>
                <button mat-flat-button color="primary">Commander</button>
            </mat-card-footer>
        </mat-card>
    </ng-container>
    <ng-container>
        <mat-card fxFlex="" class="primary-theme p-2 my-2">
            <mat-card-header>
                <mat-card-title>Developpement MObile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>J e develope des applications mobiles, ultra-rapides.</p>
            </mat-card-content>
            <mat-card-footer>
                <button mat-flat-button color="primary">Commander</button>
            </mat-card-footer>
        </mat-card>
    </ng-container>
    <ng-container>
        <mat-card fxFlex="" class="primary-theme p-2 my-2">
            <mat-card-header>
                <mat-card-title>Developpement MObile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>J e develope des applications mobiles, ultra-rapides.</p>
            </mat-card-content>
            <mat-card-footer>
                <button mat-flat-button color="primary">Commander</button>
            </mat-card-footer>
        </mat-card>
    </ng-container>
    <ng-container>
        <mat-card fxFlex="" class="primary-theme p-2 my-2">
            <mat-card-header>
                <mat-card-title>Developpement MObile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>J e develope des applications mobiles, ultra-rapides.</p>
            </mat-card-content>
            <mat-card-footer>
                <button mat-flat-button color="primary">Commander</button>
            </mat-card-footer>
        </mat-card>
    </ng-container>
    <ng-container>
        <mat-card fxFlex="" class="primary-theme p-2 my-2">
            <mat-card-header>
                <mat-card-title>Developpement MObile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>J e develope des applications mobiles, ultra-rapides.</p>
            </mat-card-content>
            <mat-card-footer>
                <button mat-flat-button color="primary">Commander</button>
            </mat-card-footer>
        </mat-card>
    </ng-container>
    <ng-container>
        <mat-card fxFlex="" class="primary-theme p-2 my-2">
            <mat-card-header>
                <mat-card-title>Developpement MObile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>J e develope des applications mobiles, ultra-rapides.</p>
            </mat-card-content>
            <mat-card-footer>
                <button mat-flat-button color="primary">Commander</button>
            </mat-card-footer>
        </mat-card>
    </ng-container>
    <ng-container>
        <mat-card fxFlex="" class="primary-theme p-2 my-2">
            <mat-card-header>
                <mat-card-title>Developpement MObile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>J e develope des applications mobiles, ultra-rapides.</p>
            </mat-card-content>
            <mat-card-footer>
                <button mat-flat-button color="primary">Commander</button>
            </mat-card-footer>
        </mat-card>
    </ng-container>
    <ng-container>
        <mat-card fxFlex="" class="primary-theme p-2 my-2">
            <mat-card-header>
                <mat-card-title>Developpement MObile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>J e develope des applications mobiles, ultra-rapides.</p>
            </mat-card-content>
            <mat-card-footer>
                <button mat-flat-button color="primary">Commander</button>
            </mat-card-footer>
        </mat-card>
    </ng-container>
    <ng-container>
        <mat-card fxFlex="" class="primary-theme p-2 my-2">
            <mat-card-header>
                <mat-card-title>Developpement MObile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>J e develope des applications mobiles, ultra-rapides.</p>
            </mat-card-content>
            <mat-card-footer>
                <button mat-flat-button color="primary">Commander</button>
            </mat-card-footer>
        </mat-card>
    </ng-container>
</div>
<h1>Mes performences</h1>
<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <ng-container>
        <mat-card fxFlex="0 1 calc(33.3% - 32px)" class="primary-theme my-2">
            <mat-card-header>
                <mat-card-title>Developpement web</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Je developpe des applications performentd avec avec l'architechture headless</p>
            </mat-card-content>
            <mat-card-footer>
                <button mat-flat-button color="warn">Commander</button>
            </mat-card-footer>
        </mat-card>
    </ng-container>
    <ng-container>
        <mat-card fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%"
            class="primary-theme p-2 my-2">
            <mat-card-header>
                <mat-card-title>Developpement MObile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>J e develope des applications mobiles, ultra-rapides.</p>
            </mat-card-content>
            <mat-card-footer>
                <button mat-flat-button color="warn">Commander</button>
            </mat-card-footer>
        </mat-card>
    </ng-container>
    <ng-container>
        <mat-card fxFlex="0 1 calc(33.3% - 32px)" class="primary-theme p-2 my-2">
            <mat-card-header>
                <mat-card-title>Developpement MObile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>J e develope des applications mobiles, ultra-rapides.</p>
            </mat-card-content>
            <mat-card-footer>
                <button mat-flat-button color="warn">Commander</button>
            </mat-card-footer>
        </mat-card>
    </ng-container>
    <ng-container>
        <mat-card fxFlex="0 1 calc(33.3% - 32px)" class="primary-theme p-2 my-2">
            <mat-card-header>
                <mat-card-title>Developpement MObile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>J e develope des applications mobiles, ultra-rapides.</p>
            </mat-card-content>
            <mat-card-footer>
                <button mat-flat-button color="warn">Commander</button>
            </mat-card-footer>
        </mat-card>
    </ng-container>
    <ng-container>
        <mat-card fxFlex="0 1 calc(33.3% - 32px)" class="primary-theme p-2 my-2">
            <mat-card-header>
                <mat-card-title>Developpement MObile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>J e develope des applications mobiles, ultra-rapides.</p>
            </mat-card-content>
            <mat-card-footer>
                <button mat-flat-button color="warn">Commander</button>
            </mat-card-footer>
        </mat-card>
    </ng-container>
    <ng-container>
        <mat-card fxFlex="0 1 calc(33.3% - 32px)" class="primary-theme p-2 my-2">
            <mat-card-header>
                <mat-card-title>Developpement MObile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>J e develope des applications mobiles, ultra-rapides.</p>
            </mat-card-content>
            <mat-card-footer>
                <button mat-flat-button color="warn">Commander</button>
            </mat-card-footer>
        </mat-card>
    </ng-container>
    <ng-container>
        <mat-card fxFlex="0 1 calc(33.3% - 32px)" class="primary-theme p-2 my-2">
            <mat-card-header>
                <mat-card-title>Developpement MObile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>J e develope des applications mobiles, ultra-rapides.</p>
            </mat-card-content>
            <mat-card-footer>
                <button mat-flat-button color="warn">Commander</button>
            </mat-card-footer>
        </mat-card>
    </ng-container>
</div>
<app-contact-form></app-contact-form>
