.d-flex{
    display: flex;
    mat-card{
        background-color: rgba(22, 31, 43, 0.884);
        color: white;
    }
}
.primary-theme{
    background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
    opacity: 0.7;
    color: white;
}