<h1>{{ "ProjectListComponent.MES_WORKS" | translate }}</h1>
<div fxLayout="row wrap" fxLayout.lt="column"  fxLayoutGap="32px" class="statistics-labels mb-30" fxLayoutAlign="space-around center" >
  <div class="statistic-label-group">
    <mat-card-title class="accent-color" color="accent">15<span>+</span></mat-card-title><span class="text-12">{{ "ProjectListComponent.PROJETS_PERSO" | translate }}</span>
  </div>
  <div class="statistic-label-group">
    <mat-card-title class="accent-color" color="accent">14<span>+</span></mat-card-title><span class="text-12">{{ "ProjectListComponent.PROJETS_EN_EQUIPE" | translate }}</span>
  </div>
  <div class="statistic-label-group">
    <mat-card-title class="accent-color" color="accent">{{ projects.length }}<span>+</span></mat-card-title><span class="text-12">{{ "ProjectListComponent.PROJETS_TERMINE" | translate }}</span>
  </div>
  <div class="statistic-label-group">
    <mat-card-title class="accent-color" color="accent">2<span>+</span></mat-card-title><span class="text-12">{{ "ProjectListComponent.PROJETS_DEPLOYEES" | translate }}</span>
  </div>
</div>
<div  fxLayout="row wrap" fxLayout.lt-sm="column"  fxLayoutGap="32px" fxLayoutAlign="flex-start">
  <ng-container *ngFor="let p of projects" >
    <mat-card fxFlex="0 1 calc(33.3% - 32px)" class="primary-theme my-2">
        <img (click)="openLightbox(p.images)" width="50px" class="article-icon pointer scallabe" height="50px" [src]="p.images[0]" alt="img techs" srcset="">
        <mat-card-header>
            <mat-card-title>{{p.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="text-secondary post-content" [innerHTML]="p.description" ></p>
        </mat-card-content>
        <mat-card-footer>
        </mat-card-footer>
    </mat-card>
</ng-container>
</div>
