.article-icon{
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  padding: 3px;
  position: absolute;
  right: 15px;
  top: -10px;
  border-radius: 50%;
}
.mat-dialog-container {
  padding: 0px !important;
}
