@use '~@angular/material' as mat;
@import "~@angular/material/theming";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@include mat-core();


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; letter-spacing: 0.7px;  }

$app-primary: mat-palette($mat-teal);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-warn: mat-palette($mat-red);

$app-default-theme: mat-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);
$accent: mat-palette($mat-pink);
.accent-color {
  color: mat-color($accent) !important;
}

.spacer{
  flex: 1 1 auto;
}
.mt-10{
  margin-top: 10px;
}
.mt-30{
  margin-top: 30px;
}
.medium-title{
  font-size: 20px;
}
.mr-2{
  margin-right: 2px;
}
.slider-button{
  font-size: 20px;
  color: red;
  width: 100%;
  height: 100%;
}

.ml-2{
  margin-left: 10px;
}
.ml-4{
  margin-left: 2px;
}
.my-2{
    margin-top: 5px;
    margin-bottom: 5px;
}
.mb-30{
  margin-bottom: 30px;
}
.text-left{
  text-align: left;
}
.d-block{
  display: block;
}
.p-0{
  padding: 0;
}
.text-white{
  color: white;
}
.p-2{
  padding: 5px;
  // box-sizing: border-box;
}
.mr-2{
  margin-right: 8px;
}
.ml-auto{
  margin-left: auto;
}
.text-center{
  text-align: center
}
.text-12{
  font-size: 12px;
}
.text-secondary{
  color: #8c8c8e;
}
.x-scroll{
  width: 100%;
  overflow-x: auto;
}
.d-flex{
  display: flex;
}
.f-just-bet{
  justify-content: space-between;
}
.select-bg-dark{
  background: linear-gradient(159deg, #e6e6e9 0%, #cfcff0 100%);
}
.mat-select-content{
  width: 300px !important;
}

.primary-theme{
    background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
    opacity: 0.9;
    color: white;
}
.text-16{
  font-size: 16px;
}
.pointer{
  cursor: pointer;
}
.form-control{
  display: block;
  width: 100%;
}
.app-input{
  height: 45px;
}
.post-content{
  strong{
    font-weight: bold;
    font-size: 17px;
  }
}

.transparent-font{
  background: transparent;
}
.w-60{
  min-width: 60%;
}
.decoration-none{
  text-decoration: none;
}


// pour le font opaque
.opaque-label{
  display: inline-block;
  color: silver;
  padding-bottom: 5px;
  background: linear-gradient(159deg, #252532 0%, #23232d 100%);
  min-width: 70px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 2px;
  font-size: 10px;
  text-align: center;
}

.article-icon{
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  padding: 2px;
  position: absolute;
  right: 15px;
  top: -10px;
  border-radius: 50%;
}
mat-dialog-container {
  background: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: none !important;
  order: none !important;
}
// @include angular-material-theme($app-default-theme);
