<div class="primary-theme contact-block raiting-modal">
  <a href="/" mat-button> <mat-icon class="mat-18">keyboard_double_arrow_left</mat-icon>{{ "ACCEUIL" | translate }}</a>
  <mat-card-title >Recommanandation</mat-card-title>
  <div>
    <app-raiting [rating]="message.stars"  [starCount]="starCount"  [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></app-raiting>
    <mat-radio-group aria-labelledby="example-radio-group-label"
    class="example-radio-group" [(ngModel)]="message.proffession">
      <mat-radio-button class="example-radio-button" value="Director">Director</mat-radio-button>
        <mat-radio-button class="example-radio-button" checked value="Devellopper">Devellopper</mat-radio-button>
        <mat-radio-button class="example-radio-button" value="Other">Other</mat-radio-button>
    </mat-radio-group> <br> <br>
    <form class="text-center" (ngSubmit)="send()">
      <div class="contact-form-field">
        <mat-icon class="label-mat-icon" color="accent">person_outline</mat-icon>
        <input [(ngModel)]="message.name" class="form-control mt-2 app-input" name="name" type="text" placeholder="Your name..." required>
      </div>
      <div class="contact-form-field">
        <mat-icon class="label-mat-icon" color="accent">alternate_email</mat-icon>
      <input [(ngModel)]="message.email" class="form-control mt-2 app-input" name="email" type="email" placeholder="Your email adress..." required>
      </div>
      <div class="contact-form-field">
        <mat-icon class="label-mat-icon" color="accent">article</mat-icon>
        <textarea [(ngModel)]="message.message" class="form-control mt-2" name="message" id="" cols="30" rows="10" placeholder="Message..." required></textarea>
      </div>
      <button mat-raised-button color="accent"
        [disabled]="message.message==''||message.name=='' || (message.email!=='' && !re.test(message.email))"

        type="submit">{{ "ContactFormComponent.ENVOYER" | translate}}</button>
    </form>
  </div>
</div>
