@import url("./../contact-form/contact-form.component.scss");
.contact-block {
  padding: 10px;
}
.select-input {
  width: 100%;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
.raiting-modal {
  position: relative;
}
.btn-close {
  position: absolute;
  top: 2px;
  right: 2px;
}
.text-center {
  margin-right: 5px;
  box-sizing: border-box;
}
.workedWithMe {
  min-height: 150px;
  padding: 10px;
  padding-top: 25px;
}
